/.MathinterpreterIdeModule.java._trace
/.MathinterpreterIdeModule.xtendbin
/.MathinterpreterIdeSetup.java._trace
/.MathinterpreterIdeSetup.xtendbin
/MathinterpreterIdeModule.java
/MathinterpreterIdeSetup.java
