/.MathinterpreterDescriptionLabelProvider.java._trace
/.MathinterpreterDescriptionLabelProvider.xtendbin
/.MathinterpreterLabelProvider.java._trace
/.MathinterpreterLabelProvider.xtendbin
/MathinterpreterDescriptionLabelProvider.java
/MathinterpreterLabelProvider.java
